---
interface Props {
	title?: string;
	page?: string
}
//@ts-ignore
const { title = 'Varvara - JavaScript toolkit for building web browsing experiences.', page } = Astro.props;
const className = 'page'.concat(page ? ' ' + `page--${page}` : '')
---

<!doctype html>
<html lang="en" class={className}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="page__body overflow-x-hidden">
		<slot />
	</body>
</html>

<style is:global>
	@layer tailwind-base, tailwind-components, va-components;
	
	@import 'varvara-css';
	@import '../styles/global.css';
	
	@layer tailwind-base {
		@tailwind base;
	}
	
	@layer tailwind-components {
		@tailwind components;
	}
	
	@tailwind utilities;
	
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "black";
    }
    return "blue";
  })();


  document.documentElement.dataset.theme = theme ;
  localStorage.setItem("theme", theme);
</script>