---
import Navigation from '../components/Navigation.astro';
import Layout from '../layouts/Base.astro'
//@ts-ignore
const { items, frontmatter, backHref, className } = Astro.props;
let customLinks = frontmatter?.links || items
let customBackHref = backHref || frontmatter?.backHref
if (customBackHref && customLinks) customLinks = [{ text: '← Back', href: customBackHref }, ...customLinks]

const response = await fetch('https://unpkg.com/varvara-css@alpha/package.json')
const data = await response.json();
---

<Layout>
  <div class="px-4 grid grid-cols-[280px_1fr] grid-rows-[auto_auto_1fr] min-h-screen gap-8 max-w-7xl mx-auto">
    <div class="col-start-1 row-start-1 relative z-10 bg-grid-left bg-grid-right">
      <div class="flex flex-col !sticky top-0">
        <header class="h-16 flex items-center text-center">
          <a href="/" class="grid grid-cols-[max-content_min-content] gap-1">
            <span class="p-1 bg-[--va-color-primary] font-semibold font-mono text-[--va-background-primary] leading-none">varvara-css</span>
            <span class="px-1 flex items-center bg-[deepPink] font-mono font-light text-[10px] whitespace-nowrap">{data.version}</span>
          </a>
        </header>
        <Navigation items={customLinks} />
      </div>
    </div>
    <main class={`bg-grid-left bg-grid-right ${className}`} role="main">
      <slot />
    </main>
  </div>
</Layout>
