---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Page.astro';

const allComponents = await getCollection('components');

const links = allComponents.map(({data, slug}) => ({
		text: data.title,
		href: `/components/${slug}`
	}))
---

<Layout items={links} backHref="/">
	<h1 class="text-4xl font-bold">Components</h1>
</Layout>

