@media (prefers-color-scheme: light) {
  :root {
    --va-color-foreground: DimGray;
    --va-color-background: WhiteSmoke;
    --va-border-color: Gainsboro;
    --va-space-ratio: 0.5;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --va-color-foreground: Silver;
    --va-color-background: MidnightBlue;
    --va-border-color: RoyalBlue;
    --va-space-ratio: 0.5;
  }
}

[data-theme='light'] {
  --va-color-foreground: DimGray;
  --va-color-background: WhiteSmoke;
  --va-border-color: Gainsboro;
  --va-space-ratio: 0.5;
}

[data-theme='dark'] {
  --va-color-foreground: Silver;
  --va-color-background: MidnightBlue;
  --va-border-color: RoyalBlue;
  --va-space-ratio: 0.5;
}
