:root {
  --va-button-font-size: var(--va-font-size-2);
  --va-button-padding: var(--va-space-3);
  --va-button-border-width: var(--va-border-width);
  --va-button-border-color: var(--va-border-color);
  --va-button-background-color: var(--va-surface-primary);
}

.button {
  @apply block leading-none font-medium;
  padding: var(--va-button-padding);
  font-size: var(--va-button-font-size);
  text-align: inherit;
  background-color: var(--va-button-background-color);
  border-style: solid;
  border-width: var(--va-button-border-width);
  border-color: var(--va-button-border-color);

  &:hover {
    background-color: color-mix(in srgb, var(--va-text-normal) 8%, transparent);
  }

  &:active {
    color: var(--va-surface-primary);
    background-color: var(--va-text-normal);
  }

  &--action {
    @apply uppercase;
  }
}

.select {
  @apply py-3 pl-3 pr-8 leading-none relative bg-transparent outline-none appearance-none hover:bg-white/5 active:bg-white active:text-black cursor-pointer;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: calc(100% - 0.8rem) calc(1px + 50%),
    calc(100% - 0.515rem) calc(1px + 50%);
  background-size: 0.3rem 0.3rem, 0.3rem 0.3rem;
  background-repeat: no-repeat;

  option:disabled {
    color: red;
  }

  .select-group:has(> &) {
    position: relative;

    label {
      @apply absolute left-3 top-0.5 text-xs pointer-events-none;
    }

    .select {
      @apply pt-5 pb-1;
    }
  }
}

.button-group {
  &:not(.button-group--horizontal) {
    @apply -space-y-[--va-border-width];
  }

  &--horizontal {
    @apply flex -space-x-[--va-border-width];
  }
}
