[data-theme='yellow'] {
  --va-color-primary: var(--va-color-yellow);
  --va-background-primary: var(--va-color-primary);
  --va-text-normal: #000000;
}

[data-theme='fuchsia'] {
  --va-color-primary: var(--va-color-fuchsia);
  --va-background-primary: var(--cva-olor-primary);
  --va-text-normal: #000000;
}

[data-theme='white'] {
  --va-color-primary: var(--va-color-white);
  --va-background-primary: var(--va-color-primary);
  --va-text-normal: #000000;
}

[data-theme='black'] {
  --va-color-primary: var(--va-color-black);
  --va-background-primary: var(--va-color-primary);
  --va-text-normal: #ffffff;
}
