---
import ThemeSelector from '../components/ThemeSelector.astro';
import Layout from '../layouts/Page.astro';
---

<Layout>
	<h1 class="text-4xl font-bold">varvara-css</h1>
	<ThemeSelector />
</Layout>

