---
const { component: Component } = Astro.props;
---
<div class="mb-8 border-2 divide-y-2">
  <div class="p-8 flex items-center justify-center aspect-video">
    {<Component />}
  </div>
<slot />
</div>