---
import PackageVersion from "./PackageVersion.astro";
import ThemeSelector from "./ThemeSelector.astro";
---

<footer class="sticky bottom-0 z-10 grid grid-cols-subgrid col-start-1 col-end-3 grid-rows-subgrid bg-grid-top bg-[--va-background-color-default] backdrop-blur-lg">
  <div class="px-2 py-1 col-start-1 col-end-4 flex flex-col md:flex-row justify-between bg-grid-left bg-grid-right">
    <p class="m-0 text-xs">
      <strong>Varvara CSS</strong> <PackageVersion /> by <a href="https://github.com/marcmarine" class="font-bold">Marc</a> licesed under <a href="https://github.com/marcmarine/varvara/blob/main/LICENSE" class="font-bold"
        >MIT</a> · 
        <ThemeSelector />
    </p>
    <p class="m-0 text-xs"><a href="https://www.npmjs.com/package/varvara-css">NPM</a> · <a href="https://github.com/marcmarine/varvara">GitHub</a></p>
  </div>
</footer>