---
interface Props {
	items?: Item[];
}

interface Item {
 text: string
 href: string
}

const defaultItems: Item[] = [
	{
		text: 'Documentation',
		href: '/docs'
	},
	{
		text: 'CSS Variables',
		href: '/variables'
	},
	{
		text: 'Components',
		href: '/components'
	},
	{
		text: 'GitHub',
		href: 'https://www.github.com/marcmarine'
	},
]

const { items = defaultItems} = Astro.props
---

<nav>
  <ul class="button-group">
		{items.map(item => 
			<li class="w-full">
				<a href={ item.href } class="button">
					{item.text}
				</a>
			</li>
		)}
</ul>