---
interface Props {
  items?: Item[]
}

export interface Item {
  text: string
  href: string
  external?: boolean
}

const defaultItems: Item[] = [
  {
    text: 'Get started',
    href: '/get-started'
  },
  {
    text: 'CSS Variables',
    href: '/variables'
  },
  {
    text: 'Components',
    href: '/components'
  },
  {
    text: 'GitHub',
    href: 'https://github.com/marcmarine/varvara',
    external: true
  }
]

const { items = defaultItems } = Astro.props
---

<nav class="bg-grid-top bg-grid-bottom">
  <ul class="va-button-group backdrop-blur">
    {
      items.map(item => (
        <li class="w-full">
          <a href={item.href} class="va-button !flex items-center justify-between">
            {item.text}
            {item.external && (
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52346 0.380859H15.6187V14.4761H13.333V4.28282L2.33158 15.2842L0.715332 13.668L11.7167 2.66657H1.52346V0.380859Z" fill="currentColor" />
              </svg>
            )}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
