---
interface Props {
  items?: Item[]
}

export interface Item {
  text: string
  href: string
  external?: boolean
}

const defaultItems: Item[] = [
  {
    text: 'Get started',
    href: '/get-started'
  },
  {
    text: 'CSS Variables',
    href: '/variables'
  },
  {
    text: 'Components',
    href: '/components'
  },
  {
    text: 'GitHub',
    href: 'https://github.com/marcmarine/varvara',
    external: true
  }
]

const { items = defaultItems } = Astro.props
---

<nav class="bg-grid-top bg-grid-bottom">
  <ul class="va-button-group backdrop-blur">
    {
      items.map(item => (
        <li class="w-full">
          <a href={item.href} class="va-button !flex items-center justify-between">
            {item.text}
            {item.external && (
              <i class="va-icon va-icon--external"></i>
            )}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
