<button
  id='theme-toggle'
  type='button'
  class="va-link"
>Switch to 
  <span class='dark'>light</span>
  <span class='light'>dark</span>  mode
</button>

<script is:inline>
  const root = document.documentElement

  function handleClick() {
    const isDark = root.dataset.theme === 'dark'
    
    root.dataset.theme = (isDark ? "light" : "dark")
    localStorage.setItem('theme', isDark ? 'light' : 'dark')
  }

  function setButtonHandler() {
    const button = document.getElementById('theme-toggle')
    button?.addEventListener('click', handleClick)
  }

  setButtonHandler()
</script>

<style is:global>
  [data-theme="light"] .dark,
  [data-theme="dark"] .light {
    display: none;
  }
</style>