:root {
  --va-link-color: var(--va-color-primary);
  --va-collapse-tree-indentation: var(--va-space-4);
  --va-space-ratio: 0.78;
}

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

.va-collapse {
  overflow: hidden;
}

.va-button {
  display: flex;
  align-items: center;
}

.va-button span {
  color: inherit;
}

.va-button span,
.va-collapse summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  flex: 1;
}

a {
  color: var(--va-color-primary);
}

.va-button:has(.version-badge) {
  position: relative;
}

.version-badge {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--va-foreground-color-muted);
  color: var(--va-background-color-default);
  padding: var(--va-space-1);
  font-size: var(--va-font-size-0);
}

.page-toolbar {
  grid-area: header;
}

.container-main {
  gap: 1rem;
}

#tsd-search-input {
  border-radius: 0;
  border-width: var(--va-input-border-width);
  border-color: var(--va-input-border-color);
}

dialog {
  background-color: var(--va-background-color-default);
}

.navigation-links a span {
  flex: 1;
}

.site-menu {
  margin-top: 0;
}

.tsd-filter-input {
  margin: 0;
}

.tsd-filter-item:not(:last-child) {
  margin-bottom: 0;
}

.tsd-signature,
pre {
  border: var(--va-border-width) solid var(--va-border-color);
}

pre {
  border-radius: 0;
}

footer {
  border-top: var(--va-border-width) solid var(--va-border-color);
  padding: 0;
}

.container {
  padding: 0 var(--va-space-4);
}

@media (max-width: 769px) {
  .page-toolbar {
    margin-top: 1rem;
  }
  .has-menu .col-sidebar {
    padding: 1rem;
  }
  .container-main {
    flex-direction: column;
  }
  html .col-sidebar {
    background-color: var(--va-background-color-default);
  }
}

@media (min-width: 770px) {
  .container-main {
    grid-template-areas: 'header content' 'sidebar content';
    grid-auto-rows: auto 1fr;
    margin: var(--va-space-6) auto;
  }

  .container {
    padding: 0 var(--va-space-6);
  }

  #tsd-toolbar-menu-trigger {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container-main {
    grid-template-columns: minmax(0, 20rem) minmax(0, 2.5fr) minmax(0, 20rem);
    grid-template-areas:
      'header content toc'
      'sidebar content toc';
  }
  .page-menu,
  .site-menu {
    top: var(--va-space-6);
    max-height: calc(100vh - calc(var(--va-space-6) * 2));
  }
}

@media (min-width: 770px) and (max-width: 1399px) {
  .col-sidebar {
    top: var(--va-space-6);
    padding-top: 0;
    max-height: calc(100vh - calc(var(--va-space-6) * 2));
  }
  .page-menu {
    margin-bottom: 1rem;
  }
}
