@media (prefers-color-scheme: light) {
  :root {
    --va-color-foreground: #29353d;
    --va-color-background: #f3f5f7;
    --va-border-color: LightGray;
    --va-color-primary: RoyalBlue;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --va-color-foreground: #b3ccd6;
    --va-color-background: #2a303c;
    --va-border-color: LightSlateGray;
    --va-color-primary: LightSkyBlue;
  }
}

[data-theme='light'] {
  --va-color-foreground: #29353d;
  --va-color-background: #f3f5f7;
  --va-border-color: LightGray;
  --va-color-primary: RoyalBlue;
}

[data-theme='dark'] {
  --va-color-foreground: #b3ccd6;
  --va-color-background: #2a303c;
  --va-border-color: LightSlateGray;
  --va-color-primary: LightSkyBlue;
}

body {
  background-color: var(--va-color-background);
  color: var(--va-color-foreground);
}

a {
  color: var(--va-color-primary);
}

.va-button:has(.version-badge) {
  position: relative;
}

.version-badge {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--va-surface-primary-alt);
  color: var(--va-color-background);
  padding: var(--va-space-1);
  font-size: var(--va-font-size-0);
}

.page-toolbar {
  grid-area: header;
}

.container-main {
  gap: 1rem;
}

.search {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
}

#tsd-search.has-focus {
  background-color: transparent;
}

.search input,
.search a:not([href='#']) {
  flex: 1;
}

.search a[href='#'] {
  display: none;
}

#tsd-search .field {
  position: static;
  width: 100%;
}

#tsd-search .field label {
  position: static;
}

#tsd-search .field input {
  top: auto;
  font-size: 1rem;
  opacity: 1; // Temporally
}

#tsd-search.has-focus .field input {
  display: flex;
}

#tsd-search .results {
  top: 100%;
  z-index: 1;
}

.navigation-links a {
  display: flex;
}
.navigation-links a span {
  flex: 1;
}

.navigation-links a svg {
  color: var(--va-color-foreground);
}

.navigation-links a:active svg {
  color: currentColor;
}

.settings .settings-label {
  margin-top: 1em;
  text-transform: none;
  font-size: var(--va-font-size-0);
}

.settings ul {
  list-style: none;
  padding-left: 0;
}

.settings .va-select {
  width: 100%;
  border-left-color: transparent;
  border-right: 0;
  border-bottom: 0;
}

.settings label:has(.va-select) {
  padding-left: 0 !important;
}

.site-menu {
  margin-top: 0;
}

.va-collapse {
  overflow: hidden;
}

.va-button {
  display: flex;
  align-items: center;
}

.tsd-signature,
pre {
  border: var(--va-border-width) solid var(--va-border-color);
}

pre {
  border-radius: 0;
}

footer {
  border-top: var(--va-border-width) solid var(--va-border-color);
  padding: 0;
}

.container {
  padding: 0 var(--va-space-8);
}

@media (max-width: 769px) {
  .page-toolbar {
    margin-top: 1rem;
  }
  .search a[href='#'] {
    display: inline-block;
  }
  .has-menu .col-sidebar {
    padding: 1rem;
  }
  .container-main {
    flex-direction: column;
  }
  html .col-sidebar {
    background-color: var(--va-color-background);
  }
}

@media (min-width: 770px) {
  .container-main {
    grid-template-areas: 'header content' 'sidebar content';
    grid-auto-rows: auto 1fr;
    margin: var(--va-space-8) auto;
  }
  .container {
    padding: 0 var(--va-space-8);
  }
}

@media (min-width: 1200px) {
  .container-main {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 20rem);
    grid-template-areas:
      'header content toc'
      'sidebar content toc';
  }
  .page-menu,
  .site-menu {
    top: var(--va-space-8);
    max-height: calc(100vh - calc(var(--va-space-8) * 2));
  }
}

@media (min-width: 770px) and (max-width: 1399px) {
  .col-sidebar {
    padding-top: 0;
  }
  .page-menu {
    margin-bottom: 1rem;
  }
}
