:root {
  --va-button-font-size: var(--va-font-size-1);
  --va-button-padding: var(--va-space-3);
  --va-button-border-width: var(--va-border-width);
  --va-button-border-color: var(--va-border-color);
  --va-button-background-color: var(--va-background-color-default);
}

.button {
  @apply block font-medium;

  align-content: center;
  background-color: var(--va-button-background-color);
  border-color: var(--va-button-border-color);
  border-style: solid;
  border-width: var(--va-button-border-width);
  box-sizing: border-box;
  color: inherit;
  font-size: var(--va-button-font-size);
  height: calc(var(--va-button-padding) * 2 + var(--va-button-font-size));
  outline: none;
  padding-left: var(--va-button-padding);
  padding-right: var(--va-button-padding);
  text-align: inherit;

  &:hover:not(&:active):not(&--active) {
    background-color: var(--va-background-color-hover);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 var(--va-input-border-width);
  }

  &:active,
  &--active {
    color: var(--va-background-color-default);
    background-color: var(--va-foreground-color-default);
  }

  &--disabled,
  &[disabled] {
    @apply pointer-events-none;
    color: var(--va-foreground-color-muted);
  }

  &--action {
    @apply uppercase;
  }
}
