:root {
  --va-button-font-size: var(--va-font-size-1);
  --va-button-padding: var(--va-space-3);
  --va-button-border-width: var(--va-border-width);
  --va-button-border-color: var(--va-border-color);
  --va-button-background-color: var(--va-surface-primary);
}

.button {
  @apply block leading-none font-medium;

  background-color: var(--va-button-background-color);
  border-color: var(--va-button-border-color);
  border-style: solid;
  border-width: var(--va-button-border-width);
  color: inherit;
  font-size: var(--va-button-font-size);
  outline: none;
  padding: var(--va-button-padding);
  text-align: inherit;

  &:hover:not(&:active):not(&--active) {
    background-color: color-mix(in srgb, var(--va-text-normal) 8%, transparent);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 var(--va-input-border-width);
  }

  &:active,
  &--active {
    color: var(--va-surface-primary);
    background-color: var(--va-text-normal);
  }

  &--disabled,
  &[disabled] {
    @apply pointer-events-none;
    color: var(--va-text-weak);
  }

  &--action {
    @apply uppercase;
  }
}
