:root {
  --va-card-color: var(--va-text-normal);
  --va-card-font-size: var(--va-font-size-1);
  --va-card-padding: var(--va-space-3);
  --va-card-border-width: var(--va-border-width);
  --va-card-border-color: var(--va-border-color);
  --va-card-background-color: var(--va-surface-primary);
}

.card {
  @apply -space-y-[--va-card-border-width];
  color: var(--va-card-color);
  background-color: var(--va-card-background-color);

  &__body {
    @apply border-2;
    padding: var(--va-card-padding);
  }

  &__body,
  .button {
    border-width: var(--va-card-border-width);
    border-color: var(--va-card-border-color);
  }

  &__actions {
    @apply flex -space-x-[--va-card-border-width];

    .button {
      @apply w-full;
    }
  }
}
