:root {
  --va-card-font-size: var(--va-font-size-1);
  --va-card-padding: var(--va-space-3);
  --va-card-border-width: var(--va-border-width);
  --va-card-border-color: var(--va-border-color);
  --va-card-background-color: var(--va-background-color-default);
}

.card {
  @apply -space-y-[--va-card-border-width];

  color: var(--va-foreground-color-default);
  background-color: var(--va-card-background-color);

  &__body {
    @apply border-2;
    padding: var(--va-card-padding);
  }

  &__body,
  .button {
    border-width: var(--va-card-border-width);
    border-color: var(--va-card-border-color);
    border-style: solid;
  }

  &__actions {
    @apply flex -space-x-[--va-card-border-width];

    .button:not(:first-child),
    .button:only-child {
      @apply w-full;
    }
  }
}
