:root {
  --va-checkbox-font-size: var(--va-font-size-1);
  --va-checkbox-padding: var(--va-space-3);
  --va-checkbox-border-width: var(--va-border-width);
  --va-checkbox-border-color: var(--va-icon-color);
  --va-checkbox-background-color: var(--va-background-color-default);
  --va-checkbox-icon-color: var(--va-icon-color);
}

.checkbox {
  display: flex;
  align-items: center;
  appearance: none;
  border-color: var(--va-border-color);
  border-style: solid;
  border-width: var(--va-checkbox-border-width);
  cursor: pointer;
  font-size: var(--va-input-font-size);
  height: calc(var(--va-checkbox-padding) * 2 + var(--va-checkbox-font-size));
  padding-left: var(--va-checkbox-padding);
  padding-right: var(--va-checkbox-padding);
  position: relative;

  &:hover {
    background-color: var(--va-background-color-hover);
  }

  &:active {
    background-color: var(--va-foreground-color-default);
  }

  &:before {
    background-color: var(--va-background-color-default);
    border-color: var(--va-checkbox-icon-color);
    border-style: solid;
    border-width: var(--va-icon-stroke-width);
    box-sizing: border-box;
    content: '';
    display: block;
    height: var(--va-icon-height);
    width: var(--va-icon-width);
  }

  &:checked:before {
    background-color: var(--va-checkbox-icon-color);
  }

  &:active:before,
  &:checked:active:before {
    background-color: var(--va-background-color-hover);
  }

  label:has(> &) {
    align-items: center;
    background-color: var(--va-checkbox-background-color);
    border-color: var(--va-checkbox-border-color);
    border-style: solid;
    border-width: var(--va-checkbox-border-width);
    cursor: pointer;
    display: flex;
    gap: var(--va-space-3);
    padding-left: var(--va-checkbox-padding);

    &:hover {
      background-color: var(--va-background-color-hover);
    }

    &:active {
      color: var(--va-background-color-default);
      background-color: var(--va-foreground-color-default);
    }

    span {
      flex: 1;
    }

    .checkbox {
      border: 0;

      &:hover,
      &:active {
        background-color: transparent;
      }
    }
  }
}
