:root {
  --va-collapse-font-size: var(--va-font-size-1);
  --va-collapse-padding: var(--va-space-3);
  --va-collapse-border-width: var(--va-border-width);
  --va-collapse-border-color: var(--va-border-color);
  --va-collapse-background-color: var(--va-background-color-default);
  --va-collapse-tree-indentation: var(--va-space-8);
  --va-collapse-icon-color: var(--va-icon-color);
}

.collapse {
  --depth: 0;
  --space: calc(var(--depth) * var(--va-collapse-tree-indentation));

  font-size: var(--va-collapse-font-size);
  border-style: solid;
  border-width: var(--va-collapse-border-width);
  border-color: var(--va-collapse-border-color);

  & > div,
  & > p {
    padding-left: calc(var(--va-collapse-padding) + var(--space)) !important;
  }

  & > * {
    width: 100%;
  }

  summary {
    @apply relative block leading-none font-medium cursor-pointer;

    align-content: center;
    background-color: var(--va-collapse-background-color);
    height: calc(var(--va-collapse-padding) * 2 + var(--va-collapse-font-size));
    outline: none;
    padding-left: calc(var(--va-collapse-padding) + var(--space));
    padding-right: calc(var(--va-icon-width) + var(--va-collapse-padding) * 2);
    text-align: inherit;

    &::-webkit-details-marker {
      display: none; /* Hide marker on Safari iOS */
    }

    &:hover:not(&:active):not(&--active) {
      background-color: var(--va-background-color-hover);
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 var(--va-collapse-border-width);
    }

    &:active,
    &--active {
      color: var(--va-background-color-default);
      background-color: var(--va-foreground-color-default);

      &::before {
        --va-collapse-border-color: var(--va-collapse-background-color);
        --va-collapse-icon-color: var(--va-collapse-background-color);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: var(--va-collapse-padding);
      height: var(--va-icon-height);
      width: var(--va-icon-width);

      background-image: linear-gradient(
        to bottom,
        var(--va-collapse-icon-color) 0%,
        var(--va-collapse-icon-color) var(--va-icon-stroke-width),
        transparent var(--va-icon-stroke-width),
        transparent calc(100% - var(--va-icon-stroke-width)),
        var(--va-collapse-icon-color) calc(100% - var(--va-icon-stroke-width)),
        var(--va-collapse-icon-color) var(--va-icon-stroke-width)
      );
    }
  }

  &[open] > summary::before {
    background-image: linear-gradient(
      to bottom,
      transparent calc(50% - var(--va-icon-stroke-width) / 2),
      var(--va-collapse-icon-color) calc(50% - var(--va-icon-stroke-width) / 2),
      var(--va-collapse-icon-color) calc(50% - var(--va-icon-stroke-width) / 2 + var(--va-icon-stroke-width)),
      transparent calc(50% - var(--va-icon-stroke-width) / 2 + var(--va-icon-stroke-width))
    );
  }

  & *:not(.checkbox):not(svg) {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  & > * {
    --depth: 1;
    & > * {
      --depth: 2;
      & > * {
        --depth: 3;
        & > * {
          --depth: 4;
        }
      }
    }
  }

  & .button,
  & label:has(.checkbox),
  & .select,
  & label:has(.select) span {
    padding-left: calc(var(--va-collapse-tree-indentation) + var(--va-collapse-padding) + var(--space));
  }

  & va-code-block::part(card) {
    margin: calc(var(--va-card-border-width) * -1);
  }
}
