.icon {
  display: block;
  position: relative;
  width: var(--va-icon-width);
  height: var(--va-icon-height);
}

.icon--external {
  transform: translateY(-25%);
}

.icon--external:before,
.icon--external:after {
  content: '';
  position: absolute;
}

.icon--external:before {
  border-bottom-style: none;
  border-color: var(--va-icon-color);
  border-left-style: none;
  border-right-style: solid;
  border-top-style: solid;
  border-width: var(--va-icon-stroke-width);
  height: calc(var(--va-icon-width) / 2);
  right: 0;
  top: 0;
  width: calc(var(--va-icon-width) / 2);
}

.icon--external:after {
  top: calc(var(--va-icon-stroke-width) / 2);
  right: calc((var(--va-icon-stroke-width) / 2));
  width: var(--va-icon-stroke-width);
  height: var(--va-icon-width);
  background-color: black;
  transform: rotate(45deg);
  transform-origin: top center;
  background-color: var(--va-icon-color);
}
