:root {
  --va-loading-dots-animation-duration: 1s;
}

.loading-dots::after {
  @apply inline-block;

  content: '.';
  width: var(--va-space-4);
  animation-name: dots;
  animation-duration: var(--va-loading-dots-animation-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes dots {
  50% {
    content: '..';
  }
  100% {
    content: '...';
  }
}
