:root {
  --va-select-font-size: var(--va-font-size-1);
  --va-select-padding: var(--va-space-3);
  --va-select-border-width: var(--va-border-width);
  --va-select-border-color: var(--va-border-color);
  --va-select-background-color: var(--va-button-background-color);
  --va-select-caret-width: calc(var(--va-select-font-size) / 3);
}

.select {
  @apply leading-none appearance-none cursor-pointer;

  background-color: var(--va-select-background-color);
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: calc(100% - var(--va-select-padding) - var(--va-select-caret-width)) calc(1px + 50%), calc(100% - var(--va-select-padding) - 0.28px) calc(1px + 50%);
  background-repeat: no-repeat;
  background-size: var(--va-select-caret-width) var(--va-select-caret-width), var(--va-select-caret-width) var(--va-select-caret-width);
  border-color: var(--va-select-border-color);
  border-style: solid;
  border-width: var(--va-select-border-width);
  color: inherit;
  font-size: var(--va-select-font-size);
  outline: none;
  padding-bottom: var(--va-select-padding);
  padding-left: var(--va-select-padding);
  padding-right: calc(var(--va-select-caret-width) * 2 + var(--va-select-padding) * 2);
  padding-top: var(--va-select-padding);
  text-align: inherit;

  option:disabled {
    color: red;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--va-text-normal) 8%, transparent);
  }

  &:active {
    color: var(--va-surface-primary);
    background-color: var(--va-text-normal);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 var(--va-input-border-width);
  }

  label:has(> &) {
    position: relative;

    span {
      @apply absolute top-0 left-0 leading-none pointer-events-none;

      font-size: var(--va-font-size-0);
      padding-left: calc(var(--va-select-padding) + var(--va-select-border-width));
      padding-top: calc(var(--va-select-padding) / 2);
    }

    .select {
      width: 100%;
      padding-top: calc(var(--va-select-padding) / 2 + var(--va-font-size-0));
      padding-bottom: calc(var(--va-select-padding) / 2);
    }
  }
}
