:root {
  --va-table-font-size: var(--va-font-size-1);
  --va-table-padding: var(--va-space-3);
  --va-table-border-width: var(--va-border-width);
  --va-table-border-color: var(--va-border-color);
  --va-table-background-color: var(--va-surface-primary);
}

.table {
  @apply border-2 divide-y-2 w-full;

  font-size: var(--va-table-font-size);
  border-color: var(--va-table-border-color);
  border-width: var(--va-table-border-width);
  background-color: var(--va-table-background-color);

  * {
    border-color: var(--va-table-border-color);
    border-width: var(--va-table-border-width);
  }

  tr {
    @apply divide-x-2;
  }

  thead {
    @apply border-b-2;
  }

  tbody {
    @apply divide-y-2;
  }

  td,
  th {
    @apply text-left align-top;
    padding: var(--va-table-padding);
  }
}
