:root {
  --va-table-font-size: var(--va-font-size-1);
  --va-table-padding: var(--va-space-3);
  --va-table-border-width: var(--va-border-width);
  --va-table-border-color: var(--va-border-color);
  --va-table-background-color: var(--va-background-color-default);
}

.table {
  @apply w-full;

  background-color: var(--va-table-background-color);
  font-size: var(--va-table-font-size);

  &,
  th,
  td {
    border-color: var(--va-table-border-color);
    border-width: var(--va-table-border-width);
  }

  th,
  td {
    align-content: center;
    height: calc(var(--va-table-padding) * 2 + var(--va-table-font-size));
    padding-left: var(--va-table-padding);
    padding-right: var(--va-table-padding);
  }

  th {
    @apply text-left;
  }
}
