@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url('/fonts/IBMPlexSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url('/fonts/IBMPlexSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/NotoSans-VariableFont_wdth,wght.ttf') format('ttf');
}
