@import 'fonts.css';
@import 'varvara-css/css';

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

[data-theme='dark'] .shiki,
[data-theme='dark'] .shiki span {
  color: var(--shiki-dark) !important;
}

.shiki,
.shiki span {
  background-color: var(--va-color-background) !important;
}

.va-button {
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--va-text-normal);
  background-color: var(--va-background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
  @apply mb-6 text-4xl font-bold;
}

h2 {
  @apply mt-6 mb-4 text-2xl font-bold;
}

h3 {
  @apply mt-6 mb-4 text-xl;
}

p {
  @apply mt-2 mb-4;

  &:first-of-type {
    @apply pt-0;
  }
}

code {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

.page__body {
  @apply relative px-4 md:grid grid-cols-[280px_1fr] grid-rows-[auto_auto_1fr] min-h-screen gap-x-4 xl:gap-x-8 max-w-[1150px] mx-auto;
}

.page {
  &:where(:not(.page--homepage)) {
    main {
      @apply row-start-1 row-end-4 z-10;
      background-color: var(--va-surface-primary);

      h1,
      h2,
      h3,
      p {
        @apply px-2;
      }

      h1 {
        @apply flex items-end pb-2 sticky top-0 border-b border-[--va-text-weak] min-h-[calc(4rem+1px)] border-dashed backdrop-blur-lg z-10;
        background-color: var(--va-surface-primary);
      }
    }
  }
}

.page--homepage main {
  @apply md:grid grid-cols-subgrid grid-rows-subgrid col-start-1 col-end-3 row-start-1 row-end-4 gap-y-0;
}

:target {
  @apply text-[--va-color-primary] scroll-mt-20;
}

p a {
  @apply hover:underline;
  color: var(--va-color-primary);
}

pre {
  @apply p-4 overflow-auto whitespace-pre-wrap;

  &:not(:last-child) {
    @apply mb-4;
  }
  background-color: var(--va-surface-primary-alt);

  &:first-of-type {
    @apply mt-0;
  }
}

[class*='bg-grid'] {
  --line-color: var(--va-text-weak);
  --line-gap: 4px;
  --line-width: 1px;
  position: relative;
}

.bg-grid-left:before {
  left: 0;
}

.bg-grid-right:after {
  right: 0;
}

.bg-grid-left:before,
.bg-grid-right::after {
  content: '';
  position: absolute;
  top: -200%;
  width: var(--line-width);
  height: 300%;
  background: linear-gradient(180deg, var(--line-color), var(--line-color) 50%, transparent 0, transparent);
  background-size: var(--line-width) var(--line-gap);
  z-index: 20;
}

.bg-grid-top::before {
  top: 0;
}
.bg-grid-bottom::after {
  bottom: 0;
}

.bg-grid-top::before,
.bg-grid-bottom::after {
  content: '';
  position: absolute;
  left: -100vw;
  width: 200vw;
  height: var(--line-width);
  background: linear-gradient(to right, var(--line-color), var(--line-color) 50%, transparent 0, transparent);
  background-size: var(--line-gap) var(--line-width);
}
